@model StudyCESI.Model.Entities.TypeQuestion

@{
    ViewData["Title"] = "Edit";
}

<h2>Type de question</h2>

<h4>Modifier le type de question</h4>
<hr />
<div class="row form-content">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TypeQuestionId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wording" class="control-label"></label>
                <input asp-for="Wording" class="form-control" />
                <span asp-validation-for="Wording" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-default btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="link-back-list"> 
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
