@model CreateOrUpdateQuestionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Question</h2>

<h4>Modification d'une question</h4>
<hr />
<div class="row form-content">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.QuestionId" />
            <div class="form-group">
                <label asp-for="Question.Header" class="control-label"></label>
                <input asp-for="Question.Header" class="form-control" />
                <span asp-validation-for="Question.Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Mark" class="control-label"></label>
                <input asp-for="Question.Mark" class="form-control" />
                <span asp-validation-for="Question.Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.TypeQuestionId" class="control-label"></label>
                <select asp-for="Question.TypeQuestionId" class="form-control">
                    @foreach (var item in Model.TypeQuestions)
                    {
                        <option value="@item.TypeQuestionId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Question.SubjectId" class="control-label"></label>
                <select asp-for="Question.SubjectId" class="form-control">
                    @foreach (var item in Model.Subjects)
                    {
                        <option value="@item.SubjectId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-default btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="link-back-list">
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
