/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption {
    top: 0;
    font-size: 20px;
    line-height: 1.4;
    color: white;
}

.carousel-caption.active {
    text-align: left;
    left: 126px;
}

.img-caroussel {
    width: 100% !important;
    height: 400px !important;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Style des formulaires */
.form-content {
    display: flex;
    justify-content: center;
}

.form-exam {
    border-right: 1px solid #101010;
}

.link-back-list {
    text-align: end;
}

.btn-create {
    width: 100%;
    background-color: #101010;
    color: #fff;
}

.btn-delete {
    background-color: #101010;
    color: #fff;
}

.btn-create:hover {
    background-color: white;
    color: #101010;
    border: 1px solid #101010;
    font-weight: bold;
}

.btn-delete:hover {
    background-color: white;
    color: #101010;
    border: 1px solid #101010;
    font-weight: bold;
}

/* Affichage détails objet*/
.dl-horizontal dt {
    text-align: left;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

